.slideshow {
  margin: 0 auto;

  width: 100%;
  height:96%;
  overflow: hidden;
  
}

.slideshowSlider {
  height: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
 
}

.slide {
  display: inline-block;
  width: 100%;
  height:100%;
  border-radius: 40px;
  border-radius: 20px;
  
 
 
}

/* Buttons */

.slideshowDots {
  text-align: center;

  margin: 10px 0;
}

.slideshowDot {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #afafaf;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

